.card-container {
  text-align: center;
}

.card {
  width: 30%;
  left: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  left: 0
}

.card img {
  width: 100%;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.card h3 {
  text-align: left;
  padding-left: 5px;
}

.player1Display, .player2Display, .player1Score, .player2Score {
  font-size: 25px;
}

.player1Display, .player2Display {
  color: grey;
  margin-right: 5px;
}

.player1Score {
  color: #2574a7;
  margin-right: 100px;
}
.player2Score {
  color: #17bc9a;
}
.linkBackHome, .linkBackHome:hover {
  color: white
}

footer {
  display: flex;
  height: 200px;
  background: #f57b19;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  margin-top: 200px;
  position: absolute;
  width: 100%;
}

.link-container {
  display: flex;
}
.link-container p a{
  margin-left: 10px;
  color: white;
}

footer p a:hover {
  color: white;
}

.footer-wrapper {
  width: 100%;

}
