.card-container {
  text-align: center;
}

.card {
  width: 30%;
  left: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  left: 0
}

.card img {
  width: 100%;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.card h3 {
  text-align: left;
  padding-left: 5px;
}

.footer-wrapper {
  width: 100%;

}
